body{
    min-height: 100vh;
    /* background: url("../images/backgroundImages/sfBeach1.jpg");
    background-size: cover; */
    background-color: rgba(15, 15, 15, 0.096);
    /* background-blend-mode: lighten; */

}
.lead{
    text-align:center;
    font-size:20px;
    color:rgb(255, 187, 0);
}
.carousel-inner{
    position: relative;
    left:calc(-50vw + 50%);
    width:100vw;
}
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
div.scrollmenu > div {
    margin-left:10px;
}
#heading-container {
    display:flex;
    text-align: center;
}
.card{
    border:solid;
    border-width: 1px;
    width: 100%; 
}
.card-body{
    padding-top: 0px;
}
#cards{
    margin-top: 30px;
}
.option-class > .class-header{
    text-align: center;
    font-weight: 300;
}
.flex-container{
    display:flex;
    justify-content: center;
    width: 100%;
}
.button-container{
    height:20px
}
#display-options > .divider{
    height:2px;
    width:100%;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 15px;
}
.flex-item{
    display:inline-block;
}
#image-modal{
    height:70%;
    width:100%;
    overflow-y:hidden;
}
#landmark-modal{

}
#landmark-picture-modal{
    
}
#landmark-picture-close{
    padding: 20px;
    font-size: 35px;
}
.modal{
    overflow:auto;
}
.option-class > .option-item{
    cursor: pointer;;
}
.option-class > .selected{
    font-weight: 600;
    cursor:default;
    color: blue;
}
#options-bar{
    background-color: white;
    padding:20px;
    border:solid;
    border-width: 1px;
}
#options-bar-container{
    position: relative; 
    overflow: visible; 
    box-sizing: border-box; 
    min-height: 1px;
    height:fit-content;
    display: inline-block;
    width: 100%;
    
}

#options-bar > #options-toggle{
    width:100%;
    cursor: pointer;
    font-weight: 600;
}
/* #options-bar > #options-toggle::before{
    font-family: "ElegantIcons";
    content: "\66";
    font-size: 1.625rem;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 1;
    font-weight: normal;
} */
#paginator-container{
    margin-top: 20px;
    display: inline-block;
    justify-content: flex-start;
    background-color: aliceblue;
    /* align-items: flex-start; */
}
#pagination-number-button{
    display: inline-flex;
    margin-right: 15px;
}
#second-header-row{
    width:100%;
    text-align: center;
    display:inline-block;
}
.starter-template{
    display:inline-block;
    width:100%;
    margin-right:10%;
    margin-left:10%;
}
/* when window size is large */
@media only screen and (min-width: 600px) {
    .card {
      height:300px;
    }
    .card > a > img{
        height:100%;
        object-fit: cover;
    }
    #options-bar{
        position:sticky;
    }
  }
/* when window size is small */
@media only screen and (max-width: 600px) {
    .card-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    main{
        padding-left: 0px;
        padding-right: 0px;
    }
}