/* html{
    height: 1500px;
} */
body{
    min-height: 100vh;
    background: linear-gradient(to bottom,red,blue,green,yellow);
    background-repeat: no-repeat;
}
div.scrollmenu {
    /* background-color: #333; */
    /* background-color: wheat; */
    overflow: auto;
    white-space: nowrap;
  }
div.scrollmenu > div {
    margin-left:10px;
}
.modal{
    overflow:auto;
}
  