<script>
    // sort option

    // update user sort criteria and then call getLandmarks
    function sortLandmarks(type) {
        // while (ajaxCalling == true) {
        //     setTimeout(function () {
        //         console.info('running');
        //         return;
        //     }, 300);
        // }
        // ajaxCalling = true;
        return $.ajax({
            type: "GET",
            url: '/ajax/sortBy',
            async: false,
            data: {
                'type': type
            },
            dataType: 'json',
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            success: function (spots) {
                // ajaxCalling = false;
                console.info(spots)
                addCards(spots);
                changePage(1);
            }

        });
    };
    // new criteria to sort landmarks
    function newSort(type) {
        sortLandmarks(type).then(result => {
            document.getElementById(`${curSort}-option`).classList.remove("selected");
            curSort = type.toLowerCase();
            document.getElementById(`${curSort}-option`).classList.add("selected");
        }).catch(error => {
            console.info(error);
        })
    }
    document.getElementById("name-option").onclick = function sortName() {
        newSort('Name');
    }
    document.getElementById("distance-option").onclick = function sortDistance() {
        newSort('Distance');
    }

    // distance filter
    function newRadius(radius, setOnly) {
        if (radius == curRadius) {
            return;
        }
        if (curRadius == 1000000) {
            document.getElementById("all-radius").classList.remove("selected");
        }
        else {
            document.getElementById(`${curRadius}-radius`).classList.remove("selected");
        }
        curRadius = radius;
        if (curRadius == 1000000) {
            document.getElementById("all-radius").classList.add("selected");
        }
        else {
            document.getElementById(`${curRadius}-radius`).classList.add("selected");
        }
        if (setOnly) {
            return;
        }
        // get landmarks and number of pages again, then default to first page
        getLandmarks(usersLatitude, usersLongitude, radius, 1).then(result => {
            newPagination(curPagination, true).then(result => {
                curPage = 1;
                changePage(1);
            }).catch(error => {
                console.info(error);
            })
        }).catch(error => {
            console.info(error);
        })
    }
    document.getElementById("10-radius").onclick = function radiusTen() {
        newRadius(10, false);
    }
    document.getElementById("30-radius").onclick = function radiusTen() {
        newRadius(30, false);
    }
    document.getElementById("60-radius").onclick = function radiusTen() {
        newRadius(60, false);
    }
    document.getElementById("all-radius").onclick = function radiusTen() {
        newRadius(1000000, false);
    }

    // pagination number

    // change number of photos displayed on one page
    async function newPagination(num, limited) {
        if (num == curPagination && limited == false) {
            return;
        }
        document.getElementById(`${curPagination}-page`).classList.remove("selected");
        curPagination = num;
        document.getElementById(`${num}-page`).classList.add("selected");
        return $.ajax({
            type: "GET",
            url: '/ajax/newPaginationNumber',
            async: false,
            data: {
                'num': num
            },
            dataType: 'json',
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            success: function (info) {
                numOfPages = info.numOfPages;
                // function found in topBarScript
                fillPageDropdown();
                // if limited is false then get landmarks again and change to first page
                if (limited == false) {
                    getLandmarks('skip', 'skip', -1, 1).then(result => {
                    }).catch(error => {
                        console.info(error);
                    });
                    changePage(1);
                }
            }

        });
    };
</script>