<script>
    // sort option

    // update user sort criteria and then call getLandmarks
    function sortLandmarks(type) {
        // while (ajaxCalling == true) {
        //     setTimeout(function () {
        //         console.info('running');
        //         return;
        //     }, 300);
        // }
        // ajaxCalling = true;
        return $.ajax({
            type: "GET",
            url: '/ajax/sortBy',
            async: false,
            data: {
                'type': type
            },
            dataType: 'json',
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            success: function (spots) {
                // ajaxCalling = false;
                addCards(spots);
                changePage(1);
            }

        });
    };
    // new criteria to sort landmarks
    async function newSort(type) {
        sortLandmarks(type).then(result => {
            if (type.toLowerCase() == curSort) {
                // recheck checkbox upon being clicked again
                document.getElementById(`${curSort}-option-checkbox`).checked = true;
                return;
            }
            document.getElementById(`${curSort}-option-checkbox`).checked = false;
            curSort = type.toLowerCase();
            return;
        }).catch(error => {
            console.info(error);
        })
    }
    document.getElementById("name-option").onclick = function sortName() {
        // TODO make sure this is consistent with async
        newSort('Name');
    }
    document.getElementById("distance-option").onclick = function sortDistance() {
        newSort('Distance');
    }

    // filter landmarks by new radius
    // param: new radius, bool setOnly
    // returns: nothing, if set only is true, then only sets curRadius and updates selected element in display options, otherwise calls server side to get updated landmarks mutating session variables data at the same time, navigates back to first page
    function newRadius(radius, setOnly) {
        if (radius == curRadius) {
            // recheck checkbox upon being clicked again
            if (curRadius == 1000000) {
                document.getElementById("all-radius-checkbox").checked = true;
            }
            else {
                document.getElementById(`${curRadius}-radius-checkbox`).checked = true;
            }
            return;
        }
        if (curRadius == 1000000) {
            document.getElementById("all-radius-checkbox").checked = false;
        }
        else {
            document.getElementById(`${curRadius}-radius-checkbox`).checked = false;
        }
        curRadius = radius;
        if (setOnly) {
            return;
        }
        // get landmarks and number of pages again, then default to first page
        getLandmarks(usersLatitude, usersLongitude, radius, 1).then(result => {
            newPagination(curPagination, true).then(result => {
                document.getElementById(`${curPagination}-page-checkbox`).checked = true;
                curPage = 1;
                changePage(1);
            }).catch(error => {
                console.info(error);
            })
        }).catch(error => {
            console.info(error);
        })
    }
    document.getElementById("10-radius").onclick = function radiusTen() {
        newRadius(10, false);
    }
    document.getElementById("30-radius").onclick = function radiusTen() {
        newRadius(30, false);
    }
    document.getElementById("60-radius").onclick = function radiusTen() {
        newRadius(60, false);
    }
    document.getElementById("all-radius").onclick = function radiusTen() {
        newRadius(1000000, false);
    }

    // pagination number

    // change number of photos displayed on one page
    async function newPagination(num, limited) {
        if (num == curPagination && limited == false) {
            // recheck checkbox upon being clicked again
            document.getElementById(`${num}-page-checkbox`).checked = true;
            return;
        }
        document.getElementById(`${curPagination}-page-checkbox`).checked = false;
        curPagination = num;
        return $.ajax({
            type: "GET",
            url: '/ajax/newPaginationNumber',
            async: false,
            data: {
                'num': num
            },
            dataType: 'json',
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            success: function (info) {
                numOfPages = info.numOfPages;
                // function found in topBarScript
                fillPageDropdown();
                // if limited is false then get landmarks again and change to first page
                if (limited == false) {
                    getLandmarks('skip', 'skip', -1, 1).then(result => {
                    }).catch(error => {
                        console.info(error);
                    });
                    changePage(1);
                }
            }

        });
    };
</script>