<aside id="options-bar-container" class="col-lg-3 col-md-3">
    <div id="options-bar">
        <div id="options-toggle" data-toggle="collapse" data-target="#display-options" aria-controls="collapseFilters"
            aria-expanded="true">
            Display Options
            <i class="fa fa-bars"></i>
        </div>
        <div id="display-options" class="collapse">
            <div class="divider"></div>
            <div class="option-class">
                <h6 class="class-header">Sort By</h6>
                <div class="custom-control custom-checkbox" id="distance-option">
                    <input type="checkbox" class="custom-control-input" id="distance-option-checkbox" checked>
                    <label class="custom-control-label" for="distance-option-checkbox"
                        id="distance-option-checkbox">Distance</label>
                </div>
                <div class="custom-control custom-checkbox" id="name-option">
                    <input type="checkbox" class="custom-control-input" id="name-option-checkbox">
                    <label class="custom-control-label" for="name-option-checkbox"
                        id="name-option-checkbox">Name</label>
                </div>
            </div>
            <div class="divider"></div>
            <div class="option-class">
                <h6 class="class-header">Within Radius</h6>
                <div class="custom-control custom-checkbox" id="10-radius">
                    <input type="checkbox" class="custom-control-input" id="10-radius-checkbox">
                    <label class="custom-control-label" for="10-radius-checkbox" id="10-radius-text"></label>
                </div>
                <div class="custom-control custom-checkbox" id="30-radius">
                    <input type="checkbox" class="custom-control-input" id="30-radius-checkbox">
                    <label class="custom-control-label" for="30-radius-checkbox" id="30-radius-text"></label>
                </div>
                <div class="custom-control custom-checkbox" id="60-radius">
                    <input type="checkbox" class="custom-control-input" id="60-radius-checkbox">
                    <label class="custom-control-label" for="60-radius-checkbox" id="60-radius-text"></label>
                </div>
                <div class="custom-control custom-checkbox" id="all-radius">
                    <input type="checkbox" class="custom-control-input" id="all-radius-checkbox" checked>
                    <label class="custom-control-label" for="all-radius-checkbox" id="all-radius-text"></label>
                </div>
            </div>
            <div class="divider"></div>
            <div id="pagination-number-container" class="option-class">
            </div>
        </div>
    </div>
</aside>