<aside id="options-bar-container" class="col-lg-3 col-md-3">
    <div id="options-bar">
        <div id="options-toggle" data-toggle="collapse" data-target="#display-options" aria-controls="collapseFilters"
            aria-expanded="true">Display Options</div>
        <div id="display-options" class="collapse">
            <div class="divider"></div>
            <div class="option-class">
                <h6 class="class-header">Sort By</h6>
                <div id="distance-option" class="option-item selected">
                    Distance
                </div>
                <div id="name-option" class="option-item">
                    Name
                </div>
            </div>
            <div class="divider"></div>
            <div class="option-class">
                <h6 class="class-header">Within Radius</h6>
                <div id="10-radius" class="option-item">
                    10 Miles
                </div>
                <div id="30-radius" class="option-item">
                    30 Miles
                </div>
                <div id="60-radius" class="option-item">
                    60 Miles
                </div>
                <div id="all-radius" class="option-item selected">
                    All
                </div>
            </div>
        </div>
    </div>
</aside>