<div class="btn-group" style="position:absolute;right:0px;">
    <button id="button-display-distance" class="btn btn-secondary btn-sm dropdown-toggle" type="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="1000000">
        All
    </button>
    <div class="dropdown-menu">
        <a id="10-button" class="dropdown-item" href="#">10 miles</a>
        <a id="30-button" class="dropdown-item" href="#">30 miles</a>
        <a id="60-button" class="dropdown-item" href="#">60 miles</a>
        <a id="all-button" class="dropdown-item" href="#">All</a>
    </div>
</div>