<script>
    function newRadius(radius) {
        if (radius == curRadius) {
            return;
        }
        if (curRadius == 1000000) {
            document.getElementById("all-radius").classList.remove("selected");
        }
        else {
            document.getElementById(`${curRadius}-radius`).classList.remove("selected");
        }
        curRadius = radius;
        if (curRadius == 1000000) {
            document.getElementById("all-radius").classList.add("selected");
        }
        else {
            document.getElementById(`${curRadius}-radius`).classList.add("selected");
        }
        getLandmarks(usersLatitude, usersLongitude, radius, 1).then(result => {
            newPagination(curPagination, true).then(result => {
                changePage(1);
            }).catch(error => {
                console.info(error);
            })
        }).catch(error => {
            console.info(error);
        })
    }
    document.getElementById("10-radius").onclick = function radiusTen() {
        newRadius(10);
    }
    document.getElementById("30-radius").onclick = function radiusTen() {
        newRadius(30);
    }
    document.getElementById("60-radius").onclick = function radiusTen() {
        newRadius(60);
    }
    document.getElementById("all-radius").onclick = function radiusTen() {
        newRadius(1000000);
    }
</script>