{% load static %}
<!DOCTYPE html>
<html lang="en" style="min-height:100%">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157513410-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "UA-157513410-1");
    </script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-TT5WG67");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" , href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" /> -->

    <!-- Styling CSS -->
    <link rel="stylesheet" , type="text/css" href="{% static 'css/homeCss.css' %}">
    <title>Photonav</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TT5WG67" height="0" width="0"
            style="display:none;visibility:hidden">
        </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <main role="main" class="container">
        {% include 'topCarousel.html' %}
        <div style='display:flex;text-align: center;'>
            <div class="starter-template" style="display:inline-block;width:100%;margin-right:10%;margin-left:10%;">
                <div style="width:100%;text-align: center;display:inline-block">
                    <h1 style="text-align:center;font-size:40px;color:darkblue">
                        Photonav {% include 'distanceFilter.html' %}
                    </h1>
                </div>
                <div id="location-warning"></div>
                <div class="row" style="width:100%;text-align: center;display:inline-block">
                    <h2 class="lead" style="text-align:center;font-size:20px;color:lightblue">
                        {% include 'sortButton.html' %}Find the exact GPS coordinates where your favorite photos are
                        taken.
                    </h2>
                </div>
                <div id="location-info"></div>
            </div>

            <!-- {% include 'distanceFilter.html' %} -->
        </div>
        <div class="card-deck">
            <div id="cards" class="row row-cols-1 row-cols-md-3" style="margin: mb-2;"></div>
        </div>
        {% include 'landmarkPictureModal.html' %}
        {% include 'landmarkModal.html' %}
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- then other dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars-intl@latest/dist/handlebars-intl.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    {% verbatim %}
    <script>
        window.onload = main;
        function addCards(spots) {
            document.getElementById("cards").innerHTML = "";
            const photoSpotTemplate = `
                <div class="col-md-4">
                    <div class="card" style="width: 100%; height:400px;">
                      <a type="button" class="MainNavText" data-toggle="modal" href="#landmark-picture-modal" data-src="{{imgSrc}}" style="height:50%;width:100%;overflow-y:hidden;">
                        <img src={{imgSrc}} style="width:286px;height=200px;object-fit:fill">
                      </a>
                      <div class="card-body" style="height:50%">
                        <h5 class="card-title">{{neighborhood}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{formatNumber distanceAway}} Miles Away</h6>
                        <a type="button" class="MainNavText" data-toggle="modal" href="#landmark-modal" data-landmark="{{neighborhood}}"> 
                        Info
                        </a>
                      </div>
                    </div>
                </div>
              `;
            const renderPhotoSpotTemplate = Handlebars.compile(photoSpotTemplate);
            for (const spot of spots) {
                document.getElementById(
                    "cards"
                ).innerHTML += renderPhotoSpotTemplate(spot);
            }
        }
        function main() {
            HandlebarsIntl.registerWith(Handlebars);

            // Location
            function getLandmarks(usersLatitude, usersLongitude, radius) {
                $.ajax({
                    type: "GET",
                    url: '/ajax/getLandmarks',
                    async: false,
                    data: {
                        'latitude': usersLatitude,
                        'longitude': usersLongitude,
                        'radius': radius
                    },
                    dataType: 'json',
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    },
                    success: function (spots) {
                        curSpots = spots;
                        addCards(spots);
                    }

                });
            }

            function locationSuccess(position, data) {
                const usersLatitude = position.coords.latitude;
                const usersLongitude = position.coords.longitude;
                const radius = document.getElementById("button-display-distance").value;

                getLandmarks(usersLatitude, usersLongitude, radius);

                $(document).ready(function (directions) {
                    $('[data-toggle="popover"]').popover();
                });
            }
            function locationError() {
                document.getElementById("location-warning").innerHTML = `
                <div class="alert alert-danger" role="alert">
                  Unable to access your location. Enable location to see which photo spots are near you!
                </div>
              `;
            }

            if (!navigator.geolocation) {
                document.getElementById("location-warning").innerHTML = `
                <div class="alert alert-danger" role="alert">
                  Enable location to see which photo spots are near you!
                </div>
              `;
            } else {
                navigator.geolocation.getCurrentPosition(
                    locationSuccess,
                    locationError
                );
            }
        }
    </script>
    {% endverbatim %}
    {% include 'distanceFilterScript.html' %}
    {% include 'sortButtonScript.html' %}
    {% include 'landmarkPictureModalScript.html' %}
    {% include 'landmarkModalScript.html' %}
</body>