{% load static %}
<!DOCTYPE html>
<html lang="en" style="min-height:100%">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157513410-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "UA-157513410-1");
    </script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-TT5WG67");
    </script>
    <!-- End Google Tag Manager -->
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" , href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" /> -->

    <!-- Styling CSS -->
    <link rel="stylesheet" , type="text/css" href="{% static 'css/homeCss.css' %}">
    <link rel="shortcut icon" href="#">
    <title>Photonav</title>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- then other dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars-intl@latest/dist/handlebars-intl.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TT5WG67" height="0" width="0"
            style="display:none;visibility:hidden">
        </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <main role="main" class="container">
        <div id="carousel-container">
            {% include 'topCarousel.html' %}
        </div>
        <div id="heading-container">
            <div class="starter-template">
                <div style="width:100%;text-align: center;display:inline-block">
                    <h1 style="text-align:center;font-size:40px;color:darkblue">
                        Photonav
                    </h1>
                </div>
                {% include 'warningsAndMessages.html' %}
                <div class="row" id="second-header-row">
                    <h2 class="lead" id="second-header">
                        Find the exact GPS coordinates where your favorite photos are
                        taken.
                    </h2>
                </div>
                <div id="location-info"></div>
            </div>
        </div>
        <div class="row">
            {% include 'displayOptions.html' %}
            <div class="col-lg-9 col-md-9">
                <div id="top-bar-container" class="flex-container">
                    {% include 'topBar.html' %}
                </div>
                <div id="card-deck">
                    <div id="cards" class="row row-cols-1 row-cols-md-3"></div>
                </div>
            </div>
        </div>
        {% include 'landmarkModal.html' %}
        {% include 'landmarkPictureModal.html' %}
        {% include 'newLandmarkModal.html' %}
    </main>

    {% verbatim %}
    <script>
        var numOfPages = 10;
        var curPagination = 12;
        var curSort = "distance";
        var curRadius = 1000000;
        var usersLatitude = -75.2509766;
        var usersLongitude = -0.071389;
        var tenMiles = -1;
        var thirtyMiles = -1;
        var sixtyMiles = -1;
        var allDistance = -1;
        var curPage = 1;
        var isMobile = false;
        // var ajaxCalling = false;
        window.onload = main;
        // add landmarks to page
        function addCards(spots) {
            document.getElementById("cards").innerHTML = "";
            const photoSpotTemplate = `
                <div class="col-md-12 col-sm-12 col-lg-6 col-xs-6 card-container" style = "margin-top:30px;">
                    <div class="card">
                      <a type="button" id="image-modal" class="MainNavText" data-toggle="modal" href="#landmark-modal" data-landmark="{{neighborhood}}" data-src="https://photonav.s3.amazonaws.com{{imgSrc}}">
                        <img src="https://photonav.s3.amazonaws.com{{imgSrc}}" style="width:100%;object-fit:fill">
                      </a>
                      <div class="card-body" style="height:30%;text-align:center;">
                        <h5 class="card-title">{{neighborhood}}
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{formatNumber distanceAway}} Miles Away</h6>
                      </div>
                    </div>
                </div>
              `;
            const renderPhotoSpotTemplate = Handlebars.compile(photoSpotTemplate);
            for (const spot of spots) {
                document.getElementById(
                    "cards"
                ).innerHTML += renderPhotoSpotTemplate(spot);
            }
            document.getElementById("location-warning").innerHTML = ``;
        }
        // change carousel images
        async function changeCarousel() {
            return $.ajax({
                type: "GET",
                url: '/ajax/changeCarousel',
                async: false,
                data: {
                },
                dataType: 'json',
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                },
                success: function (response) {
                    landmarks = response["landmarks"];
                    document.getElementById("carousel-img-1").src = "https://photonav.s3.amazonaws.com" + landmarks[0]["imgSrc"];
                    document.getElementById("carousel-img-2").src = "https://photonav.s3.amazonaws.com" + landmarks[1]["imgSrc"];
                    document.getElementById("carousel-img-3").src = "https://photonav.s3.amazonaws.com" + landmarks[2]["imgSrc"];
                    document.getElementById("carousel-img-4").src = "https://photonav.s3.amazonaws.com" + landmarks[3]["imgSrc"];
                }
            });
        }

        // retrieve landmarks for current page
        async function getLandmarks(usersLatitude, usersLongitude, radius, page) {
            return $.ajax({
                type: "GET",
                url: '/ajax/getLandmarks',
                async: false,
                data: {
                    'latitude': usersLatitude,
                    'longitude': usersLongitude,
                    'radius': radius,
                    'page': page,
                },
                dataType: 'json',
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                },
                success: function (response) {
                    curSpots = response['data'];
                    if (tenMiles == -1) {
                        tenMiles = response['10-miles'];
                        thirtyMiles = response['30-miles'];
                        sixtyMiles = response['60-miles'];
                        allDistance = response['all'];
                        document.getElementById("10-radius-text").innerText = `10 Miles (${tenMiles})`;
                        document.getElementById("30-radius-text").innerText = `30 Miles (${thirtyMiles})`;
                        document.getElementById("60-radius-text").innerText = `60 Miles (${sixtyMiles})`;
                        document.getElementById("all-radius-text").innerText = `All (${allDistance})`;
                    }
                    addCards(response['data']);
                }

            });
        }
        // set screen to accomodate mobile user
        async function setMobile() {
            curPagination = 4;
            document.getElementById("pagination-number-container").innerHTML = `<h6 class="class-header">Landmarks Per Page</h6>`;
            document.getElementById("pagination-number-container").innerHTML += `
                <div class="custom-control custom-checkbox" id="4-page" onclick="newPagination(4,false)">
                    <input type="checkbox" class="custom-control-input" id="4-page-checkbox" checked>
                    <label class="custom-control-label" for="4-page-checkbox" id="4-page-text">4</label>
                </div>
                <div class="custom-control custom-checkbox" id="8-page" onclick="newPagination(8,false)">
                    <input type="checkbox" class="custom-control-input" id="8-page-checkbox">
                    <label class="custom-control-label" for="8-page-checkbox" id="8-page-text">8</label>
                </div>
                <div class="custom-control custom-checkbox" id="12-page" onclick="newPagination(12,false)">
                    <input type="checkbox" class="custom-control-input" id="12-page-checkbox">
                    <label class="custom-control-label" for="12-page-checkbox" id="12-page-text">12</label>
                </div>`;
            return $.ajax({
                type: "GET",
                url: '/ajax/setMobile',
                dataType: 'json',
                async: false,
                data: {},
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                },
                success: function (response) {

                }
            });
        }
        // set screen to accomodate Desktop user
        async function setDesktop() {
            document.getElementById("pagination-number-container").innerHTML = `<h6 class="class-header">Landmarks Per Page</h6>`;
            document.getElementById("pagination-number-container").innerHTML += `
                <div class="custom-control custom-checkbox" id="12-page" onclick="newPagination(12,false)">
                    <input type="checkbox" class="custom-control-input" id="12-page-checkbox" checked>
                    <label class="custom-control-label" for="12-page-checkbox" id="12-page-text">12</label>
                </div>
                <div class="custom-control custom-checkbox" id="24-page" onclick="newPagination(24,false)">
                    <input type="checkbox" class="custom-control-input" id="24-page-checkbox">
                    <label class="custom-control-label" for="24-page-checkbox" id="24-page-text">24</label>
                </div>
                <div class="custom-control custom-checkbox" id="48-page" onclick="newPagination(48,false)">
                    <input type="checkbox" class="custom-control-input" id="48-page-checkbox">
                    <label class="custom-control-label" for="48-page-checkbox" id="48-page-text">48</label>
                </div>`;
            return $.ajax({
                type: "GET",
                url: '/ajax/setDesktop',
                dataType: 'json',
                async: false,
                data: {},
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                },
                success: function (response) {

                }
            });
        }
        function main() {
            curRadius = 1000000;
            tenMiles = -1;
            curPage = 1;
            HandlebarsIntl.registerWith(Handlebars);
            async function locationSuccess(position, data) {
                usersLatitude = position.coords.latitude;
                usersLongitude = position.coords.longitude;
                const radius = curRadius;
                if ($(window).width() > 514) {
                    document.getElementById("card-deck").classList.add('card-deck');
                    await setDesktop().catch(error => {
                        console.info(error);
                    });
                }
                else {
                    isMobile = true;
                    await setMobile().catch(error => {
                        console.info(error);
                    });
                }
                await getLandmarks(usersLatitude, usersLongitude, radius, 1).catch(error => {
                    console.info(error);
                })
                changeCarousel();
                await newPagination(curPagination, true).then(result => {
                    document.getElementById(`${curPagination}-page-checkbox`).checked = true;
                }).catch(error => {

                    console.info(error);
                })
                changePage(1);

                $(document).ready(function (directions) {
                    $('[data-toggle="popover"]').popover();
                });
            }
            function locationError() {
                document.getElementById("location-warning").innerHTML = `
                <div class="alert alert-danger" role="alert">
                  Unable to access your location. Enable location to see which photo spots are near you!
                </div>
              `;
            }

            if (!navigator.geolocation) {
                document.getElementById("location-warning").innerHTML = `
                <div class="alert alert-danger" role="alert">
                  Enable location to see which photo spots are near you!
                </div>
              `;
            } else {
                navigator.geolocation.getCurrentPosition(
                    locationSuccess,
                    locationError
                );
            }
        }
    </script>
    {% endverbatim %}
    {% include 'displayOptionsScript.html' %}
    {% include 'landmarkPictureModalScript.html' %}
    {% include 'landmarkModalScript.html' %}
    {% include 'topBarScript.html' %}
    {% include 'listener.html' %}
</body>