{% verbatim %}
<script>
    $('#landmark-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var neighborhood = button.data('landmark');
        $.ajax({
            type: "GET",
            url: '/ajax/getLandmarkInfo',
            async: false,
            data: {
                'neighborhood': neighborhood
            },
            dataType: 'json',
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            success: function (info) {
                document.getElementById('landmark-modal-title').innerText = neighborhood;
                document.getElementById('scrollmenu').innerHTML = "";
                const landmarkPhotosTemplate =
                    `<div style="display: inline-block;">
                        <div class="card" style="width: 280px; height:300px;">
                        <a type="button" class="MainNavText" data-toggle="modal" href="#landmark-picture-modal" data-src="https://photonav.s3.amazonaws.com{{imgSrc}}" style="height:75%;overflow-y:hidden;">
                            <img src="https://photonav.s3.amazonaws.com{{imgSrc}}" style="object-fit:fill;height:100%;width:100%">
                        </a>
                        <div class="card-body" style="height:25%">
                            <div>{{formatNumber distanceAway}} Miles Away</div>
                            <p><a href="{{directionsUrl}}" class="card-link" data-clicktype="text_clickthrough">Directions to photo spot ↗️</a></p>
                        </div>
                        </div>
                    </div>
                    
              `;
                const renderLandmarkPhotosTemplate = Handlebars.compile(landmarkPhotosTemplate);
                for (const photo of info) {
                    document.getElementById(
                        "scrollmenu"
                    ).innerHTML += renderLandmarkPhotosTemplate(photo);
                }
            }

        });
    })  
</script>
{% endverbatim %}