<div id="pagination-number-button" class="btn-group">
    <button id="pagination-button" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Landmarks Per Page
    </button>
    <div id="paginator-menu" class="dropdown-menu">
        <a id="paginator-selection-header" class="dropdown-item disabled" href="#">Landmarks Per Page</a>
    </div>
</div>
<nav aria-label="..." style="display: inline-flex;">
    <ul id="page-selections" class="pagination pagination-sm">
    </ul>
</nav>