<script>
    async function newPagination(num, isInit) {
        curPagination = num;
        return $.ajax({
            type: "GET",
            url: '/ajax/newPaginationNumber',
            async: false,
            data: {
                'num': num
            },
            dataType: 'json',
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            // test
            success: function (info) {
                console.info(info.numOfPages);
                numOfPages = info.numOfPages;
                if (isInit == false) {
                    document.getElementById("pagination-button").innerText = String(num);
                    getLandmarks('skip', 'skip', -1, 1).then(result => {
                    }).catch(error => {
                        console.info(error);
                    });
                    changePage(1).catch(error => {
                        console.info(error)
                    });
                }
            }

        });
    };
    function changePage(pageNum) {
        document.getElementById("page-selections").innerHTML = ""
        if (pageNum > 2) {
            document.getElementById("page-selections").innerHTML += `<li class="page-item" onclick = "newPage(1)"><a class="page-link" href="#">1</a></li>`;
        }
        if (pageNum > 1) {
            let lastPage = pageNum - 1;
            document.getElementById("page-selections").innerHTML += `<li class="page-item" onclick = "newPage(${lastPage})"><a class="page-link" href="#">${lastPage}</a></li>`;
        }
        document.getElementById("page-selections").innerHTML += `<li class="page-item disabled"><a class="page-link" href="#">${pageNum}</a></li>`;
        if (pageNum < numOfPages) {
            let nextPage = pageNum + 1
            document.getElementById("page-selections").innerHTML += `<li class="page-item" onclick = "newPage(${nextPage})"><a class="page-link" href="#">${nextPage}</a></li>`;
        }
        if (pageNum < numOfPages - 1) {
            document.getElementById("page-selections").innerHTML += `<li class="page-item" onclick = "newPage(${numOfPages})"><a class="page-link" href="#">${numOfPages}</a></li>`;
        }
    };
    document.getElementById("12-page").onclick = function newNum() {
        newPagination(12, false);
    };
    document.getElementById("24-page").onclick = function newNum() {
        newPagination(24, false);
    };
    document.getElementById("48-page").onclick = function newNum() {
        newPagination(48, false);
    };
    function newPage(pageNum) {
        getLandmarks('skip', 'skip', -1, pageNum)
        changePage(pageNum);
    };
</script>