<script>
    // update user sort criteria and then call getLandmarks
    function sortLandmarks(type) {
        return $.ajax({
            type: "GET",
            url: '/ajax/sortBy',
            async: false,
            data: {
                'type': type
            },
            dataType: 'json',
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            success: function (spots) {
                // console.info(spots)
                // addCards(spots);
                getLandmarks('skip', 'skip', -1, 1).then(result => {
                }).catch(error => {
                    console.info(error);
                });
                changePage(1);
            }

        });
    };
    // new criteria to sort landmarks
    function newSort(type) {
        document.getElementById(`${curSort}-button`).classList.remove("disabled");
        document.getElementById("button-display-sort").innerText = type;
        curSort = type.toLowerCase();
        document.getElementById(`${curSort}-button`).classList.add("disabled");
        sortLandmarks(type).catch(error => {
            console.info(error);
        })
    }
    document.getElementById("name-button").onclick = function sortName() {
        newSort('Name');
    }
    document.getElementById("distance-button").onclick = function sortDistance() {
        newSort('Distance');
    }
</script>