<script>
    // get sorted landmarks from backend
    function sortLandmarks(type) {
        $.ajax({
            type: "GET",
            url: '/ajax/sortBy',
            async: false,
            data: {
                'type': type
            },
            dataType: 'json',
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            success: function (spots) {
                addCards(spots);
            }

        });
    };
    // new criteria to sort landmarks
    function newSort(type) {
        document.getElementById(`${curSort}-button`).classList.remove("disabled");
        document.getElementById("button-display-sort").innerText = type;
        curSort = type.toLowerCase();
        document.getElementById(`${curSort}-button`).classList.add("disabled");
        sortLandmarks(type)
    }
    document.getElementById("name-button").onclick = function sortName() {
        newSort('Name');
    }
    document.getElementById("distance-button").onclick = function sortDistance() {
        newSort('Distance');
    }
</script>