<div class="btn-group flex-item" style="margin-left:10px;">
    <button id="button-display-sort" class="btn btn-secondary btn-sm dropdown-toggle" type="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort By
    </button>
    <div class="dropdown-menu">
        <a id="sort-header" class="dropdown-item disabled" href="#">Sort By</a>
        <a id="distance-button" class="dropdown-item disabled" href="#">Distance</a>
        <a id="name-button" class="dropdown-item" href="#">Name</a>
    </div>
</div>