<script>
    // update user sort criteria and then call getLandmarks
    function sortLandmarks(type) {
        while (ajaxCalling == true) {
            setTimeout(function () {
                console.info('running');
                return;
            }, 300);
        }
        ajaxCalling = true;
        return $.ajax({
            type: "GET",
            url: '/ajax/sortBy',
            async: false,
            data: {
                'type': type
            },
            dataType: 'json',
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            success: function (spots) {
                ajaxCalling = false;
                console.info(spots)
                addCards(spots);
                changePage(1);

                // getLandmarks(usersLatitude, usersLongitude, -1, 1).then(result => {
                //     console.info(result);
                // }).catch(error => {
                //     console.info(error);
                // });
                // changePage(1);
            }

        });
    };
    // new criteria to sort landmarks
    function newSort(type) {
        sortLandmarks(type).then(result => {
            document.getElementById(`${curSort}-option`).classList.remove("selected");
            curSort = type.toLowerCase();
            document.getElementById(`${curSort}-option`).classList.add("selected");
        }).catch(error => {
            console.info(error);
        })
    }
    document.getElementById("name-option").onclick = function sortName() {
        newSort('Name');
    }
    document.getElementById("distance-option").onclick = function sortDistance() {
        newSort('Distance');
    }
</script>