<nav aria-label="page-selector" style="display: inline-flex;margin-left:30px;">
    <ul id="page-selections" class="pagination pagination-sm">
    </ul>
</nav>
<div id="page-navigator" class="form-group" data-toggle="page-navigator-tooltip" title="Jump to Page">
    <form onsubmit="return newPage(document.getElementById('page-input').value)">
        <input type="text" class="form-control" id="page-input" placeholder="Page" style="height:100%;">
        <input type="submit" style="display: none">
    </form>
</div>
<div id="locationField">
    <form onsubmit="return searchAddress()">
        <input id="autocomplete" placeholder="Enter location" type="text" />
        <input type="submit" style="display: none">
        {%csrf_token%}
    </form>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="page-navigator-tooltip"]').tooltip();
    });
</script>