<!-- <nav aria-label="page-selector" style="display: inline-flex;margin-left:30px;">
    <ul id="page-selections" class="pagination pagination-sm">
    </ul>
</nav> -->
<span class="dropdown" id="change-page-dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true">
        Page
        <span class="caret"></span>
    </button>
    <ul id="page-dropdown-menu" class="dropdown-menu" aria-labelledby="dropdownMenu1">
    </ul>
</span>
<!-- <div id="page-navigator" class="form-group" data-toggle="page-navigator-tooltip" title="Jump to Page">
    <form onsubmit="return newPage(document.getElementById('page-input').value)">
        <input type="text" class="form-control" id="page-input" placeholder="Page" style="height:100%;">
        <input type="submit" style="display: none">
    </form>
</div> -->
<span id="locationField">
    <form id="location-form">
        <input id="autocomplete" placeholder="Enter location" type="text" />
        <input type="submit" style="display: none">
        {%csrf_token%}
    </form>
</span>
<script>
    $(document).ready(function () {
        $('[data-toggle="page-navigator-tooltip"]').tooltip();
    });
</script>