<script>
    // update page selections dropdown upon page change
    function changePage(pageNum) {
        // document.getElementById("page-selections").innerHTML = ""
        // if (pageNum > 2) {
        //     document.getElementById("page-selections").innerHTML += `<li class="page-item" onclick = "newPage(1)"><a class="page-link" href="#">1</a></li>`;
        // }
        // if (pageNum > 1) {
        //     let lastPage = pageNum - 1;
        //     document.getElementById("page-selections").innerHTML += `<li class="page-item" onclick = "newPage(${lastPage})"><a class="page-link" href="#">${lastPage}</a></li>`;
        // }
        // document.getElementById("page-selections").innerHTML += `<li class="page-item disabled"><a class="page-link" href="#">${pageNum}</a></li>`;
        // if (pageNum < numOfPages) {
        //     let nextPage = pageNum + 1;
        //     document.getElementById("page-selections").innerHTML += `<li class="page-item" onclick = "newPage(${nextPage})"><a class="page-link" href="#">${nextPage}</a></li>`;
        // }
        // if (pageNum < numOfPages - 1) {
        //     document.getElementById("page-selections").innerHTML += `<li class="page-item" onclick = "newPage(${numOfPages})"><a class="page-link" href="#">${numOfPages}</a></li>`;
        // }
    };
    // change to a new page
    function newPage(pageNum) {
        pageNum = parseInt(pageNum, 10);
        if (pageNum == curPage || pageNum > numOfPages) {
            return;
        }
        curPage = pageNum;
        getLandmarks('skip', 'skip', -1, pageNum);
        changePage(pageNum);
    };


    // search city using Google Maps Javascript API
    var autocomplete;
    function initAutocomplete() {
        // Create the autocomplete object, restricting the search predictions to
        // geographical location types.
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'), { types: ['geocode'] });
        autocomplete.setFields(['address_component']);
        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete.addListener('place_changed', changeCity);
    }

    // change current longitude and latitude to that of new city
    function changeCity() {
        // Search for new city
        city = document.getElementById("autocomplete").value;
        // set tenMiles to -1 so getLandmarks function recalculates the number of landmarks within certain range
        return $.ajax({
            type: "POST",
            url: '/ajax/changeCity',
            async: false,
            data: {
                'location': city,
                csrfmiddlewaretoken: '{{csrf_token}}'
            },
            dataType: 'json',
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            success: function (response) {
                if (response['found'] == true) {
                    curPage = 1;
                    tenMiles = -1;
                    usersLatitude = response['latitude'];
                    usersLongitude = response['longitude'];
                    if (curRadius != 1000000) {
                        newRadius(1000000, true);
                        document.getElementById("all-radius-checkbox").checked = true;
                    }
                    newSort("Distance").then(result => {
                        if (document.getElementById(`distance-option-checkbox`).checked == false) {
                            document.getElementById(`distance-option-checkbox`).checked = true;
                        }
                        getLandmarks('skip', 'skip', curRadius, 1).then(result => {
                            if (isMobile) {
                                newPagination(4, false).then(result => {
                                    document.getElementById(`4-page-checkbox`).checked = true;
                                    // changePage(1);
                                });
                            }
                            else {
                                newPagination(12, false).then(result => {
                                    document.getElementById(`12-page-checkbox`).checked = true;
                                    // changePage(1);
                                });
                            }
                            changeCarousel();
                        }).catch(error => {
                            console.info(error);
                        });
                    }).catch(error => {
                        console.info(error);
                    });

                }
                else {
                    document.getElementById("location-warning").innerHTML = `
                <div class="alert alert-danger" role="alert">
                  Please enter valid location!
                </div>
              `;
                }
            }

        });

    };
    // fill page dropdown
    function fillPageDropdown() {
        document.getElementById("page-dropdown-menu").innerHTML =
            `<li><a>Page</a></li>
        <li role="separator" class="divider"></li>`
        for (var i = 1; i < numOfPages + 1; i++) {
            document.getElementById("page-dropdown-menu").innerHTML +=
                `<li><a href="#" onclick = "newPage(${i})">${i}</a></li>`;

        }
    }
</script>
<!-- Google maps Javascript API -->
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz_wsqkbSduXxT5Z_h60wPavplGTxIFOA&libraries=places&callback=initAutocomplete">
    </script>